.container {
  border: 2px solid black;
  height: 400px;
  width: 300px;
  background-color: rgb(32, 37, 40);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 80%;
  height: 30px;
  position: relative;
  left: 10%;
  top: 10%;
}

.text-center {
  position: relative;
  top: 30%;
}

button {
  width: 55px !important;
  margin-top: 10px !important;
}

/* @media only screen and (max-width: 400px) {
      .container {
   width: 200px;
  }
} */
